header {

  text-align: center;

  img {
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto;
  }

  h1 {
    margin-top: 0;
    transform: translate(0, -3px);

    letter-spacing: -0.05em;
    color: rgb(9,38,104);
    font-size: 1.17em;
    font-weight: bold;
    text-transform: uppercase;
  }

}